process {
    withName: 'COMETCONFIG' {
        // give some of the Comet configuration params here to the module, all others params need to be set by another template
        ext.args = {
            [
                '-peptide_mass_tolerance_upper', "10",
                '-peptide_mass_tolerance_lower', "-11",
                '-peptide_mass_units', "2",
                '-isotope_error', "1",
                '-fragment_bin_tol', "0.2",
                '-fragment_bin_offset', "0.01",
                '-theoretical_fragment_ions', "0",
                '-psms_per_spectrum', "3",
                '-variable_modifications', "'variable_mod01 = 79.966331 STY 0 3 -1 0 0 97.976896;variable_mod02 = 15.9949 M 0 3 -1 0 0 0.0'",
                '-static_modifications', "'add_C_cysteine = 0;add_K_lysine = 8.014199'",
            ].join(' ')
        }
    }
}
