# Nextflow ecosystem
.nextflow*
.nf-test/
.nf-test.log
## temporary nf-test file on repo root (containing hash)
/.nf-test-*.nf 
work/

# OSs
.DS_Store

# Python (still needed?)
*.pyc

# Remains
data/
results/
testing/
testing*
null/
.lineage/
