manifest {
    version = "0.0.1"
}


profiles {
  docker {
    docker.enabled = true
    docker.runOptions = "--user=root"
    docker.fixOwnership = true

    process {
      withLabel: mcquac_image {
        container = "ghcr.io/mpc-bioinformatics/mcquac:${manifest.version}"
      }
    }
  }

  dev {
    manifest {
      version = "dev"
    }

    process {
      withLabel: mcquac_image {
        container = "ghcr.io/mpc-bioinformatics/mcquac:${manifest.version}"
      }
    }
  }
}
