/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // no output of uncompressed spectra before conversion
    withName: 'GUNZIP' {
        publishDir = [
            enabled: false
        ]
    }
    withName: 'UNTAR' {
        publishDir = [
            enabled: false
        ]
    }
    withName: 'UNZIP' {
        publishDir = [
            enabled: false
        ]
    }

    // adjust the output for converted mzML
    withName: '.*:PREPARE_SPECTRA:THERMORAWFILEPARSER' {
        publishDir = [
            path: { "${params.outdir}/mzmls" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]

        ext.args = {
            [
                '--format',
                '2',
            ].join(' ')
        }
    }

    withName: '.*:PREPARE_SPECTRA:TDF2MZML' {
        publishDir = [
            path: { "${params.outdir}/mzmls" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // only save decoy database if explicitly stated
    withName: 'OPENMS_DECOYDATABASE' {
        publishDir = [
            path: { "${params.outdir}/decoy_database" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_decoy_database
        ]
    }
}
