/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // no output of uncompressed spectra before conversion
    withName: 'GUNZIP' {
        publishDir = [
            enabled: false
        ]
    }
    withName: 'UNTAR' {
        publishDir = [
            enabled: false
        ]
    }
    withName: 'UNZIP' {
        publishDir = [
            enabled: false
        ]
    }

    // adjust the output for converted mzML
    withName: '.*:PREPARE_SPECTRA:THERMORAWFILEPARSER' {
        publishDir = [
            path: { "${params.outdir}/mzmls" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]

        ext.args = {
            [
                '--format',
                '2',
            ].join(' ')
        }
    }

    withName: '.*:PREPARE_SPECTRA:TDF2MZML' {
        publishDir = [
            path: { "${params.outdir}/mzmls" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // only save decoy database if explicitly stated
    withName: 'OPENMS_DECOYDATABASE' {
        publishDir = [
            path: { "${params.outdir}/decoy_database" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_decoy_database
        ]

        ext.args = {
            [
                '-decoy_string',
                params.decoy_string,
                '-method',
                params.decoy_method,
            ].join(' ')
        }
    }

    withName: '.*:COMETCONFIG' {
        // by default don't write the config, but return  it after the actual identification
        publishDir = [
            enabled: false
        ]

        // give some of the Comet configuration params here to the module, all others params need to be set by another template
        ext.args = {
            [
                '-peptide_mass_tolerance_upper', params.peptide_mass_tolerance_upper,
                '-peptide_mass_tolerance_lower', params.peptide_mass_tolerance_lower,
                '-peptide_mass_units', params.peptide_mass_units,
                '-isotope_error', params.isotope_error,
                '-fragment_bin_tol', params.fragment_bin_tol,
                '-fragment_bin_offset', params.fragment_bin_offset,
                '-theoretical_fragment_ions', params.theoretical_fragment_ions,
                '-psms_per_spectrum', params.psms_per_spectrum,
                '-variable_modifications', params.variable_modifications,   // when modifying, the actual variables must be in single quotes, like "'var_mod01 =  ...; var_mod02 = ...'"
                '-static_modifications', params.static_modifications,       // when modifying, the actual variables must be in single quotes, like "'add_C_cysteine = 57.021464'"
            ].join(' ')
        }
    }

    withName: '.*:COMETCONFIG_LABELLED' {
        publishDir = [
            enabled: false
        ]

        ext.args = {
            // add the label modifications to the static modifications, if they are defined
            def combined_static_modifications = [params.static_modifications, params.label_modifications]
                .findAll { value ->
                    value != null &&
                    value.toString().trim() &&
                    !["''", '""'].contains(value.toString().trim())
                }
                .join(';')

            [
                '-peptide_mass_tolerance_upper', params.peptide_mass_tolerance_upper,
                '-peptide_mass_tolerance_lower', params.peptide_mass_tolerance_lower,
                '-peptide_mass_units', params.peptide_mass_units,
                '-isotope_error', params.isotope_error,
                '-fragment_bin_tol', params.fragment_bin_tol,
                '-fragment_bin_offset', params.fragment_bin_offset,
                '-theoretical_fragment_ions', params.theoretical_fragment_ions,
                '-psms_per_spectrum', params.psms_per_spectrum,
                '-variable_modifications', params.variable_modifications,
                '-static_modifications', combined_static_modifications,
            ].join(' ')
        }
    }
    withName: 'QCVISUALIZATION' {
        publishDir = [
            path: { "${params.outdir}/qcvisualization" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.spikein_columns = { params.spikein_columns ?: 'MS1 feature maximum intensity,retention time,count of identified spectra,Delta_to_expected_RT' }
        ext.args = {
            [
                '-figure_format',       params.figure_format,
                '-output_table_type',   params.output_table_type,
                params.spikeins ? '-spikeins' : '',
                '-RT_unit', params.RT_unit,
                '-output_column_order', params.output_column_order,
                '-height_barplots', params.height_barplots,
                '-width_barplots', params.width_barplots,
                '-height_pca', params.height_pca,
                '-width_pca', params.width_pca,
                '-height_ionmaps', params.height_ionmaps,
                '-width_ionmaps', params.width_ionmaps,
                // params.spike_ins_table ? "-spike_ins_table ${params.spike_ins_table}" : '',
            ].join(' ')
        }
    }


}
