/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/macproqc -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // pipeline parameters
    input = params.macproqc_testdata_base_path + 'samplesheets/small_test.csv'
    fasta = params.pipelines_testdata_base_path + 'refs/heads/modules/data/proteomics/database/yeast_UPS.fasta'
    save_decoy_database = true

    peptide_mass_tolerance_upper = 20
    peptide_mass_tolerance_lower = -20
    fragment_bin_tol = 0.2
    psms_per_spectrum = 1
    variable_modifications = "'variable_mod01 = 15.9949 M 0 3 -1 0 0 0.0'"
    static_modifications = "'add_C_cysteine = 57.021464'"
}
