process {
    withName: '.*:COMETCONFIG' {
        // give some of the Comet configuration params here to the module, all others params need to be set by another template
        ext.args = {
            [
                '-peptide_mass_tolerance_upper', "20",
                '-peptide_mass_tolerance_lower', "-20",
                '-fragment_bin_tol', "0.2",
                '-psms_per_spectrum', "1",
            ].join(' ')
        }
    }

withName: '.*:COMETCONFIG_LABELLED' {
        ext.args = {
            // add the label modifications to the static modifications...
            [
                '-peptide_mass_tolerance_upper', "20",
                '-peptide_mass_tolerance_lower', "-20",
                '-fragment_bin_tol', "0.2",
                '-psms_per_spectrum', 1,
                '-static_modifications', "'add_C_cysteine = 57.021464;add_K_lysine = 8.014199;add_R_arginine = 10.008269'",
            ].join(' ')
        }
    }
}
