process {
    withName: '.*:COMETCONFIG' {
        // give some of the Comet configuration params here to the module, all others params need to be set by another template
        ext.args = {
            [
                '-peptide_mass_tolerance_upper', "20",
                '-peptide_mass_tolerance_lower', "-20",
                '-fragment_bin_tol', "0.2",
                '-psms_per_spectrum', "1",
            ].join(' ')
        }
    }
}
