// Global default params, used in configs
params {

  // main params
  main_input_folder = ""
  main_outdir = "./results"
  main_fasta_file = ""

  // visualization params
  visualize_only = false
  rt_unit = "sec"
  output_column_order = "''"
  spikein_columns = "Maximum_Intensity,RT_at_Maximum_Intensity,PSMs,Delta_to_expected_RT"
  output_table_type = "csv"
  figure_format = "plotly" 
  height_barplots = 700
  width_barplots = 0
  height_pca = 1000
  width_pca = 1000
  height_ionmaps = 10
  width_ionmaps = 10
  visualization_mem = "16.GB"

  // spike in parameters
  spike_ins_table = "${projectDir}/example_configurations/spike_ins.csv"
  search_spike_ins = true
  search_labelled_spikeins = true

  // metric extraction parameters
  ms_run_metrics__bruker_raw_mem = "10.GB"
  ms_run_metrics__thermo_raw_mem = "10.GB"
  ms_run_metrics__mzml_mem = "10.GB"
  ms_run_metrics__bruker_headers = ""
  ms_run_metrics__bruker_calibrants = ""
  ms_run_metrics__thermo_headers = ""
  base_peak_tic_up_to = 105
  filter_threshold = 0.00001
  report_up_to_charge = 5
  max_parallel_xic_extractors_factor = 2
  feature_detection__openms_threads = 8
  feature_detection__openms_memory = "8.GB"
  feature_detection__min_charge = 2
  feature_detection__max_charge = 5

  // file conversion parameters
  file_conversion__bruker_raw_conversion_mem = "5.GB"
  file_conversion__bruker_raw_conversion_cpu = 4
  file_conversion__thermo_raw_conversion_mem = "10.GB"

  // identification parameters
  identification__comet_threads = 8
  identification__comet_mem = "10.GB"
  identification__generate_decoys = true
  identification__store_decoy_fasta = false
  identification__decoy_method = "reverse"
  identification__peptide_mass_tolerance_upper = 5.0
  identification__peptide_mass_tolerance_lower = -5.0
  identification__peptide_mass_units = 2
  identification__isotope_error = 2
  identification__fragment_bin_tol = 0.02
  identification__fragment_bin_offset = 0.0
  identification__theoretical_fragment_ions = 0
  identification__label_modifications = "add_K_lysine = 8.014199;add_R_arginine = 10.008269"
  identification__pia_threads = 8
  identification__pia_gb_ram = 16
  identification__pia_fdr_threshold = 0.01
  identification__pia_prefilter = 0.05
  identification__peptides_table = false
}

manifest {
  name            = 'mpc-bioinformatics/McQuaC'
  contributors    = [
        [
            name: 'Julian Uszkoreit',
            affiliation: 'Ruhr University Bochum, Medical Bioinformatics',
            github: '@julianu',
            contribution: ['author', 'maintainer', 'contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0001-7522-4007'
        ],
        [
            name: 'Karin Schork',
            affiliation: 'Ruhr University Bochum, Medizinisches Proteom-Center',
            github: '@KarinSchork',
            contribution: ['author', 'maintainer', 'contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0003-3756-4347'
        ],
        [
            name : "Dominik Lux",
            affiliation : "Ruhr University Bochum, Medical Proteome Center, Medical Bioinformatics",
            email : "dominik.lux@rub.de",
            contribution : ["author", "maintainer", "contributor"],
            orcid : "0000-0002-7490-8260"
        ],
  ]
  homePage        = 'https://github.com/mpc-bioinformatics/McQuaC'
  description     = """Mass centric Quality Control Workflow (McQuaC)"""
  mainScript      = 'main.nf'
  defaultBranch   = 'main'
  nextflowVersion = '!>=24.10.6'
  version         = '0.1.0'
}

profiles {
  docker {
    docker.enabled = true
    docker.runOptions = "--user=root"
    docker.fixOwnership = true

    process {
      withLabel: mcquac_image {
        container = "ghcr.io/mpc-bioinformatics/mcquac:${manifest.version}"
      }
    }

    process {
      withLabel: comet_image {
        container = "quay.io/medbioinf/comet-ms:v2024.01.0"
      }
    }

    process {
      withLabel: pia_image {
        container = "quay.io/biocontainers/pia:1.5.7--hdfd78af_0"
      }
    }

    process {
      withLabel: thermorawfileparser_image {
        container = "quay.io/biocontainers/thermorawfileparser:1.4.3--ha8f3691_0"
      }
    }

    process {
      withLabel: tdf2mzml_image {
        container = "quay.io/medbioinf/tdf2mzml:0.4"
      }
    }
  }

  // Override to use the locally container mcquac container image
  dev {
    manifest {
      version = "dev"
    }

    process {
      withLabel: mcquac_image {
        container = "ghcr.io/mpc-bioinformatics/mcquac:${manifest.version}"
      }
    }
  }
}

plugins {
  id 'nf-schema@2.5.0'
}